.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc-wrapper {
  width: 400px;
  height: 600px;
}

.row {
  display: flex;
  width: 100%;
}

.history {
  padding: 20px;
  position: relative;
  top: -15%;
  display: block;
  min-height: 333px;
}

li {
  list-style-type: none;
  font-weight: lighter;
}

li:first-child {
  border: 1px solid black;
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: underline;
}

li:nth-child(2) {
  font-size: 1.75em;
  font-weight: normal;
}

li:nth-child(3) {
  font-size: 1.5em;
  font-weight: normal;
}
